:root {
    --main-1-color: #CEB45D;
    --main-2-color: #B7DB71;
  }
  

.header-bg{
    background-color: rgb(255, 255, 240);
    border-bottom: var(--main-2-color) 2px solid;
    top: 0;
    left: 0;
    width: 100%;
}
.link-pinter{
    cursor: pointer;
}

.hero{
    border-bottom: var(--main-1-color) 2px solid;